In [1]:
import pandas as pd

df = pd.read_csv("Dicc.csv", sep=";")

In [7]:
df.filter(regex="1\.\d").columns

Index(['1.1', '1.2', '1.3', '1.4', '1.5'], dtype='object')

In [17]:
df.iloc[:, -23:] = df.filter(regex="\d\.\d").fillna(0).astype(int)

In [22]:
# Create this dict as an ordered dict
int_competencias = {
    1: "A1",
    2: "A2",
    3: "B1",
    4: "B2",
    5: "C1",
    6: "C2",
}

def competencias_form_int_to_str(x):
    print(int_competencias.get(x))
        
competencias_form_int_to_str(2)

A2

In [25]:
df.filter(regex="\d\.\d").fillna(0).astype(int).applymap(int_competencias.get).fillna("")

,1.1,1.2,1.3,1.4,1.5,2.1,2.2,2.3,3.1,3.2,...,4.2,4.3,5.1,5.2,5.3,6.1,6.2,6.3,6.4,6.5
0,A2,A1,,A1,A1,A1,,A1,,,...,,,,,,,,,,
1,A1,,,A1,A1,,,,A1,,...,A1,A1,,,,,,,,
2,A1,,,A1,A1,,,,A1,,...,A1,A1,,,,,,,,
3,,,,,,,,,,,...,,,,,,,,,A1,A1
4,,,,A1,,,A1,,A1,,...,,,A1,,A1,,,A1,,A1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,A1,A1,,A1,A1,,,,A1,,...,,,,,,,A1,,,
299,A1,,,A1,A1,,,,,,...,,,,,,,,,,
300,A1,,,A1,A1,,,,,,...,,,,,,,,,,
301,,,,A1,,,A1,,A1,,...,,,A1,,A1,,,A1,,A1
302,,,,A1,,,A2,,A1,,...,,,,,A1,,,A1,,A1

In [32]:
df["SINONIMOS"].fillna("").str.split(",").explode().str.strip()

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
298   NaN
299   NaN
300   NaN
301   NaN
302   NaN
Name: SINONIMOS, Length: 303, dtype: float64

In [33]:
df["SINONIMOS"].fillna("").apply(lambda x: x.split(","))

0      [ADIASWEB,  ADISWEB,  ABIASWEB,  ABISWEB,  ABI...
1                    [GESTION ACADEMICA,  GIR ACADEMICA]
2         [GESTION ACADEMICA,  SIGAD-,  SIGAD-ACADEMICA]
3                                                     []
4      [AUDCITY,  AUDACITI,  ADACITY,  edición de audio]
                             ...
298                                                   []
299                                                   []
300                                                   []
301                                                   []
302                                                   []
Name: SINONIMOS, Length: 303, dtype: object

In [36]:
df["bag_of_words"] = df[["PALABRA_CLAVE","SINONIMOS"]].fillna("").apply(lambda x: x[0].split(",") + x[1].split(",")[], axis=1)

In [47]:
# Select row if a word is in a list of words in a column
df["test"] = df["bag_of_words"].apply(lambda x: [x.strip() for x in x])

In [49]:
"SIGAD-" in df["test"][2]

True

In [52]:
# return a set of columns if a word is in a list of words in a column
df.loc[df["test"].apply(lambda x: "SIGAD-" in x), df.filter(regex="\d\.\d").columns]

,1.1,1.2,1.3,1.4,1.5,2.1,2.2,2.3,3.1,3.2,...,4.2,4.3,5.1,5.2,5.3,6.1,6.2,6.3,6.4,6.5
2,1,0,0,1,1,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,0

In [54]:
len(df)

303