In [66]:
import pandas as pd
from collections import OrderedDict

df = pd.read_csv("Dicc.csv", sep=";")
df.iloc[:, -23:] = df.filter(regex="\d\.\d").fillna(0).astype(int)
df["bag_of_words"] = (
        df[["PALABRA_CLAVE", "SINONIMOS"]]
        .fillna("")
        .apply(lambda x: x[0].lower().split(",") + x[1].lower().split(","), axis=1)
    )
df["bag_of_words"] = df["bag_of_words"].apply(
    lambda x: [x.strip() for x in x]
)

cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df.reindex(cols, axis = 1)

/var/folders/3x/q7wqrt_n25g44wy90swcw2sh0000gn/T/ipykernel_63821/1325544838.py:5: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, -23:] = df.filter(regex="\d\.\d").fillna(0).astype(int)

In [68]:
df[["1.1", "1.4", "1.5"]].value_counts()

1.1  1.4  1.5
0    1    0      187
1    1    1       75
0    0    0       17
     1    1        9
1    1    0        4
0    0    1        3
2    1    1        2
          2        2
0    0    2        1
1    0    0        1
     1    2        1
3    1    2        1
dtype: int64

In [ ]:
## compara valores de una matriz con un valor y asigna a cada celda ese valor si es mayor sólo en las celdas en las que el valor no sea 0

In [69]:
df[["1.1", "1.4", "1.5"]] = df[["1.1", "1.4", "1.5"]].applymap(lambda x:  x if x == 0 else 10 )

In [70]:
df[["1.1", "1.4", "1.5"]].value_counts()

1.1  1.4  1.5
0    10   0      187
10   10   10      81
0    0    0       17
     10   10       9
     0    10       4
10   10   0        4
     0    0        1
dtype: int64

In [6]:
data = [{'Competencias': 'Búsqueda y selección de contenidos o información',
  'Nivel de progresión': 'Conocimiento teórico',
  'competencias': 'Búsqueda y selección de contenidos o información',
  'nivel-de-progresion': 'Conocimiento teórico'},
 {'Competencias': 'Creación o modificación de contenido',
  'Nivel de progresión': 'Uso guiado',
  'competencias': 'Aprendizaje entre iguales'},
 {'competencias': '', 'nivel-de-progresion': ''}]

In [8]:
data[1].get('nivel-de-progresion')

In [33]:
def filter_df(*args, df):
    dfs = []
    for word in args:
        word = word.strip().lower()
        df_filtered = df.loc[
            df["bag_of_words"].apply(lambda x: word in x),
            df.filter(regex="\d\.\d").columns,
        ]
        dfs.append(df_filtered)
        
    df= pd.concat(dfs)
    return df

lista_de_palabras_clave = [
    "GESTION ACADEMICA",
    "edición de audio",
]

df_filtrado = filter_df(*lista_de_palabras_clave, df=df)

In [65]:
df_filtrado

NameError: name 'df_filtrado' is not defined

In [45]:
# compare values of diefferent cells of the same column and get the highest value

serie = df_filtrado[df_filtrado.filter(regex="\d\.\d").columns].max()
pd.DataFrame(serie).transpose()

,1.1,1.2,1.3,1.4,1.5,2.1,2.2,2.3,3.1,3.2,...,4.2,4.3,5.1,5.2,5.3,6.1,6.2,6.3,6.4,6.5
0,1,0,0,1,1,0,1,0,1,0,...,1,1,1,0,1,0,0,1,0,1

In [50]:
# extract not None values from a list

True

In [14]:
COMPETENCIAS = pd.read_csv("competencias.csv", sep=",")

In [17]:
# rename columns en competencias
COMPETENCIAS = COMPETENCIAS.rename(
    columns={
        x[0]: x[1] for x in zip(COMPETENCIAS.columns[-23:], df.filter(regex="\d\.\d").columns)
    }
    )

In [18]:
COMPETENCIAS

,COMPETENCIAS AGRUPADAS,Unnamed: 1,1.1,1.2,1.3,1.4,1.5,2.1,2.2,2.3,...,4.2,4.3,5.1,5.2,5.3,6.1,6.2,6.3,6.4,6.5
0,Búsqueda y selección de contenidos o información,para la,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,Creación o modificación de contenido,para la,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,"Protección de datos, gestión y compartición",en la,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
3,Proceso de Enseñanza-Aprendizaje,en la,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Evaluación, orientación y apoyo",para la,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Aprendizaje entre iguales,en el,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
6,Aprendizaje autorregulado,en el,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
7,Estrategias de Evaluación,en las,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Accesibilidad e inclusión,para la,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN
9,Recursos para que el alumado desarrolle de for...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
10,Comunicación con el alumnado y/o familias,para la,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [3]:
from data import input_df
from slugify import slugify

input_df
slugify("Nivel de progresión")

'nivel-de-progresion'

In [59]:
NIVEL_DE_PROGRESION

['Conocimiento teórico',
 'Uso guiado',
 'Uso autónomo',
 'Aplicación en el aula',
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [19]:
list(zip(COMPETENCIAS.columns[-23:], df.filter(regex="\d\.\d").columns))

[('Unnamed: 2', '1.1'),
 ('Unnamed: 3', '1.2'),
 ('Unnamed: 4', '1.3'),
 ('Unnamed: 5', '1.4'),
 ('Unnamed: 6', '1.5'),
 ('Unnamed: 7', '2.1'),
 ('Unnamed: 8', '2.2'),
 ('Unnamed: 9', '2.3'),
 ('Unnamed: 10', '3.1'),
 ('Unnamed: 11', '3.2'),
 ('Unnamed: 12', '3.3'),
 ('Unnamed: 13', '3.4'),
 ('Unnamed: 14', '4.1'),
 ('Unnamed: 15', '4.2'),
 ('Unnamed: 16', '4.3'),
 ('Unnamed: 17', '5.1'),
 ('Unnamed: 18', '5.2'),
 ('Unnamed: 19', '5.3'),
 ('Unnamed: 20', '6.1'),
 ('Unnamed: 21', '6.2'),
 ('Unnamed: 22', '6.3'),
 ('Unnamed: 23', '6.4'),
 ('Unnamed: 24', '6.5')]

In [41]:
c = [
    "Búsqueda y selección de contenidos o información",
    "Creación o modificación de contenido",
]

from data import NIVEL_DE_PROGRESION

modifiers = {item: i+1 for i, item in enumerate(NIVEL_DE_PROGRESION)}


# filtrar filas de competencias por palabras clave
df = COMPETENCIAS.loc[COMPETENCIAS["COMPETENCIAS AGRUPADAS"] == c[0], COMPETENCIAS.filter(regex="\d\.\d").columns]

In [48]:
df = df.fillna(0).astype(int)

In [53]:
df

,1.1,1.2,1.3,1.4,1.5,2.1,2.2,2.3,3.1,3.2,...,4.2,4.3,5.1,5.2,5.3,6.1,6.2,6.3,6.4,6.5
0,0,0,0,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,0

In [54]:
df.applymap(lambda x: x if x == 0 else modifiers["Uso guiado"])

,1.1,1.2,1.3,1.4,1.5,2.1,2.2,2.3,3.1,3.2,...,4.2,4.3,5.1,5.2,5.3,6.1,6.2,6.3,6.4,6.5
0,0,0,0,0,0,2,0,0,2,0,...,0,0,2,0,0,2,0,0,0,0

In [57]:
rows = [
 (None, None),
 (0, 0),
 ]

rows[0] is None or rows[1] is None

False

In [17]:
df.iloc[:, -23:] = df.filter(regex="\d\.\d").fillna(0).astype(int)

In [22]:
# Create this dict as an ordered dict
int_competencias = {
    1: "A1",
    2: "A2",
    3: "B1",
    4: "B2",
    5: "C1",
    6: "C2",
}

def competencias_form_int_to_str(x):
    print(int_competencias.get(x))
        
competencias_form_int_to_str(2)

A2

In [25]:
df.filter(regex="\d\.\d").fillna(0).astype(int).applymap(int_competencias.get).fillna("")

,1.1,1.2,1.3,1.4,1.5,2.1,2.2,2.3,3.1,3.2,...,4.2,4.3,5.1,5.2,5.3,6.1,6.2,6.3,6.4,6.5
0,A2,A1,,A1,A1,A1,,A1,,,...,,,,,,,,,,
1,A1,,,A1,A1,,,,A1,,...,A1,A1,,,,,,,,
2,A1,,,A1,A1,,,,A1,,...,A1,A1,,,,,,,,
3,,,,,,,,,,,...,,,,,,,,,A1,A1
4,,,,A1,,,A1,,A1,,...,,,A1,,A1,,,A1,,A1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,A1,A1,,A1,A1,,,,A1,,...,,,,,,,A1,,,
299,A1,,,A1,A1,,,,,,...,,,,,,,,,,
300,A1,,,A1,A1,,,,,,...,,,,,,,,,,
301,,,,A1,,,A1,,A1,,...,,,A1,,A1,,,A1,,A1
302,,,,A1,,,A2,,A1,,...,,,,,A1,,,A1,,A1

In [32]:
df["SINONIMOS"].fillna("").str.split(",").explode().str.strip()

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
298   NaN
299   NaN
300   NaN
301   NaN
302   NaN
Name: SINONIMOS, Length: 303, dtype: float64

In [33]:
df["SINONIMOS"].fillna("").apply(lambda x: x.split(","))

0      [ADIASWEB,  ADISWEB,  ABIASWEB,  ABISWEB,  ABI...
1                    [GESTION ACADEMICA,  GIR ACADEMICA]
2         [GESTION ACADEMICA,  SIGAD-,  SIGAD-ACADEMICA]
3                                                     []
4      [AUDCITY,  AUDACITI,  ADACITY,  edición de audio]
                             ...
298                                                   []
299                                                   []
300                                                   []
301                                                   []
302                                                   []
Name: SINONIMOS, Length: 303, dtype: object

In [36]:
df["bag_of_words"] = df[["PALABRA_CLAVE","SINONIMOS"]].fillna("").apply(lambda x: x[0].split(",") + x[1].split(",")[], axis=1)

In [47]:
# Select row if a word is in a list of words in a column
df["test"] = df["bag_of_words"].apply(lambda x: [x.strip() for x in x])

In [49]:
"SIGAD-" in df["test"][2]

True

In [52]:
# return a set of columns if a word is in a list of words in a column
df.loc[df["test"].apply(lambda x: "SIGAD-" in x), df.filter(regex="\d\.\d").columns]

,1.1,1.2,1.3,1.4,1.5,2.1,2.2,2.3,3.1,3.2,...,4.2,4.3,5.1,5.2,5.3,6.1,6.2,6.3,6.4,6.5
2,1,0,0,1,1,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,0

In [54]:
len(df)

303

In [12]:
from data import df_competencias

In [13]:
df_competencias

,COMPETENCIAS AGRUPADAS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Búsqueda y selección de contenidos o información,para la,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,Creación o modificación de contenido,para la,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,"Protección de datos, gestión y compartición",en la,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
3,Proceso de Enseñanza-Aprendizaje,en la,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Evaluación, orientación y apoyo",para la,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Aprendizaje entre iguales,en el,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
6,Aprendizaje autorregulado,en el,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
7,Estrategias de Evaluación,en las,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Accesibilidad e inclusión,para la,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN
9,Recursos para que el alumado desarrolle de for...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
10,Comunicación con el alumnado y/o familias,para la,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [64]:
x = 4
x if x >= 3 or x == 0 else 2

4

In [1]:
# get actual time in format YYYY-MM-DD HH:MM:SS
from datetime import datetime

datetime.now().strftime("%H:%M:%S del %d de %B de %Y")

'13:55:35 del 22 de November de 2022'

In [6]:
from data import get_df_keywords

df, last_update = get_df_keywords()

In [7]:
df

,bag_of_words,PALABRA_CLAVE,SINONIMOS,GRUPO 1,GRUPO 2,1.1,1.2,1.3,1.4,1.5,...,6.3,6.4,6.5,AREA 1,AREA 2,AREA 3,AREA 4,AREA 5,AREA 6,AREA MÁS VALORADA
0,"[abiesweb, adiasweb, adisweb, abiasweb, abiswe...",ABIESWEB,"ADIASWEB, ADISWEB, ABIASWEB, ABISWEB, ABIES we...",ADMINISTRACION,NaN,1.0,NaN,NaN,1.0,1.0,...,NaN,NaN,NaN,3.0,2.0,0.0,0.0,0.0,0.0,1.Compromiso Profesional
1,"[gir academico, gir gestion academica, gir aca...",GIR ACADEMICO,"GIR GESTION ACADEMICA, GIR ACADEMICA",ADMINISTRACION,TTDD_PED_EVAL,1.0,NaN,NaN,1.0,1.0,...,NaN,NaN,NaN,3.0,0.0,1.0,3.0,0.0,0.0,1.Compromiso Profesional
2,"[sigad, gestion academica, sigad-, sigad-acade...",SIGAD,"GESTION ACADEMICA, SIGAD-, SIGAD-ACADEMICA",ADMINISTRACION,TTDD_PED_EVAL,1.0,NaN,NaN,1.0,1.0,...,NaN,NaN,NaN,3.0,0.0,1.0,3.0,0.0,0.0,1.Compromiso Profesional
3,"[problemas tecnológicos, ]",PROBLEMAS TECNOLÓGICOS,NaN,ADMINISTRACION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,6.Desarrollo de la Competencia Digital del alu...
4,"[firma electrónica, sede electrónica, firma di...",Firma electrónica,"Sede electrónica, firma digital",ADMINISTRACION,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,6.Desarrollo de la Competencia Digital del alu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,"[, ]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,Compromiso Profesional
352,"[, ]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,Compromiso Profesional
353,"[, ]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
354,"[, ]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
355,"[, ]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN